*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f6f7f8;
}
.main{
  margin: 0 auto;
  width: 70%;
}
.main > h2:first-child{
  padding-top: 50px;
  padding-bottom: 20px;
}
.product-main{
  position: relative;
  
}
.product-main > img {
  width: 100%;
}
.product-info{
  background-color: white;
  padding: 15px;
  position: relative;
}
.product-info > span:first-child{
  float: right;
  color: green;
  font-size: 20px;
  font-weight: 500;
}
.product-info > span:nth-last-child(2){
  font-size: 20px;
  font-weight: 500;
}
.product-info > p {
  color: #b1b1b3;
  font-size: 16px;
}
.product-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #48cfad;
  opacity: 0;
  cursor: pointer;
}
.product-overlay-selected{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #48cfad;
  opacity: 0.7;
  cursor: pointer;
}
.product-main:hover > .product-overlay , .product-main:hover > .product-overlay-selected{
  transition: 0.5s;
  opacity: 0.7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
}
.product-main:hover > .add-product{
  transition: 0.5s;
  opacity: 1;
}
.add-product{
  top: 50%;
  left:50%;
  margin-left: -50px;
  margin-top: -75px;
  text-align: center;
  width: 100px;
  height: 50px;
  border: 2px solid white;
  position: absolute;
  cursor: pointer;
  color: white;
  opacity: 0;
  line-height: 45px;
  font-weight: 600;
  font-size: 20px;
}
.add-product:hover{
  transition: 0.5s;
  background-color: white;
  color: #48cfad;
}
.compare-main{
  margin-top: 100px;
}
.notVisible{
  display: none;
}
.table{
  table-layout: fixed;
  width: 100%;
}
.table>:not(:first-child) {
  border-top:none;
}
.thead-def{
  display: table-header-group;
  vertical-align: middle
}
.thead-def > tr > th{
  font-size: 24px;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 25px;
  
}
.price > th, .colors > th, .condition > th{
  padding-left: 25px;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  background-color: #f9f9f9 !important;
}
.price > td, .colors > td, .condition > td{
  vertical-align: middle;
  font-size: 18px ;
}
.colors > td >span{
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 100%;
}
.item-fresh{
  background-color: #48cfad !important;
}
.item-frozen{
  background-color: #ff715b !important;
}
.bg-red{
  background-color: #ff715b !important;
}
.bg-green{
  background-color: #48cfad !important;
}
.bg-blue{
  background-color: #0197f6 !important;
}